@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 80vh;
    overflow-x: hidden;
    background: linear-gradient(#000000,#100342);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #ffff;
    background-color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 10px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover , header ul li a.active
{
    background: #000000;
    color: #ffffff;
}

#pagebuttons
{
    background: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    position: relative;
    top: 200;
    left: 100;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

#pagebuttons ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#pagebuttons ul li
{
    list-style: none;
    margin-left: 20px;
}
#pagebuttons ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #060505;
    border-radius: 20px;
}
#pagebuttons ul li a:hover , #pagebuttons ul li a.active
{
    background: #000000;
    color: #ffffff;
}

#Music {
    color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 100px 50px;
    padding: 30px;
    background: rgb(255, 255, 255);
  }

#aside_leones {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    color: #3e3939;
    font-family: Courier;
    font-size: x-large;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /*text-align: justify;
    text-align-last: center;*/
    animation: 
    typing 3.5s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
    border-right: .0em solid rgb(5, 5, 5); /* The typwriter cursor */
    animation-direction: alternate;
}

#aside_pmw {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    color: #3e3939;
    font-family: Courier;
    font-size: x-large;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /*text-align: justify;
    text-align-last: center;*/
    animation: 
    typing 3.5s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
    border-right: .0em solid rgb(5, 5, 5); /* The typwriter cursor */
    animation-direction: alternate;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(14, 14, 14); }
}

#video {
    position: relative;
    padding-left: 20vw;
    padding-top: 2em;
    background-color: #000000;
    padding-bottom: 2em;
}

#contacts {
    color: #000000;
    padding-left: 30px;
    padding-bottom: 30px;
    background: rgb(255, 255, 255);
  }

#contacts p{
    size: 1em;
    font-family: Courier;
    font-size: medium;
}

#link_youtube {
    background-color: #000000;
    color: #fff;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 1000;
}
.background-container {
    background-image: url('points.jpg'); /* Replace with the path to your image */
    background-repeat: repeat; /* This will make the image repeat both horizontally and vertically */
    z-index: 1000;
}
section img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section img#points1
{
    /*background-repeat:repeat-x;
    background-repeat:repeat-y;
    object-fit: none;*/
    opacity: 0.1;
    z-index: 3;
    transform: scale(1.5, 1.5);
}
section img#points2
{
    /*background-repeat:repeat-x;
    background-repeat:repeat-y;
    object-fit: none;*/
    opacity: 0.3;
    z-index: 2;
    transform: scale(1.5, 1.5);
}
section img#points3
{
    /*background-repeat:repeat-x;
    background-repeat:repeat-y;
    object-fit: none;*/
    opacity: 1;
    z-index: 1;
    transform: scale(1.5, 1.5);
}

#text
{
    text-decoration-line: none;
    text-decoration-color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(255, 255, 255);
    text-shadow: 0 0 3px #ffffff, 0 0 5px #fbfbfb;
    position: absolute;
    color: #000000;
    right: -850px;
    white-space: nowrap;
    font-size: 11vw;
    z-index: 9;
    
}
#btn
{
    text-decoration: none;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 100px;
    background: #000000;

}
.sec h2 
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1em;
    color: #fff;
}

#header_albums{
    color: #fff; 
    position: relative;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#header_video{
    color: #ffffff; 
    background: #000000;
    position: relative;
    width: 100%;
    padding-left: 0em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#header_contacts{
    background: #ffffff; 
    color: #000000;
    position: relative;
    width: 100%;
    padding-left: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;   
}